aiohappyeyeballs==2.6.1
requests
aiohttp==3.12.13
aiosignal==1.3.2
attrs==25.3.0
audioop-lts==0.2.1
discord.py==2.5.2
feedparser==6.0.11
frozenlist==1.7.0
idna==3.10
multidict==6.5.0
propcache==0.3.2
sgmllib3k==1.0.0
yarl==1.20.1
beautifulsoup4
flask
PyNaCl>=1.5.0
yt-dlp>=2026.1.6
discord.py>=2.5.2
